.App {
  text-align: center;
}

form {
  margin: 20px;
}

label {
  display: block;
}

input {
  margin-left: 20px;
  margin-top: 20px;
}

button {
  margin: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
